body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

header {
    background-color: #353535;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.logo {
    margin-right: -5px;  /* Deixe a margem negativa para elas ficarem mais coladas */
}

.botaohead {
    margin-left: 10px;
    height: 30px;
    width: 150px;
    border-radius: 15px;
    border: none;
    background-color: #474747;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botaohead:hover {
    background-color: #585858;
}

footer {
    height: 50px;
    background-color: #353535;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.produto-card {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.produto-card:hover {
    transform: translateY(-5px);
}

.produto-imagem {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.produto-nome {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.produto-descricao {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.produto-btn {
    background-color: #009c88;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.produto-btn:hover {
    background-color: #007566;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
}

footer {
    height: 50px;
    background-color: #353535;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed; /* Fixa o rodapé na tela */
    bottom: 0; /* Fixa na parte inferior */
    width: 100%;
}

/* Estilo da barra de pesquisa */
#barra-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#pesquisa {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 5px;
}

#btn-pesquisar {
    padding: 10px;
    background-color: #009c88;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#btn-pesquisar:hover {
    background-color: #007c6c;
}
